@import "./variables";
@import "./mixins";

//GENERAL
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    flex-wrap: wrap;
    background-color: $secondary-color
}

.pageTitleContainer{
    width: 100%;
    align-self: flex-start;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleInputContainer{
    display: flex;
}

.searchInput{
    //margin-left: 32px;
    border-radius: 30px;
    border-color: $primary-color;
    border-style: solid;
    padding: 16px;
    height: 20px;
    width: 400px;
}

.newContact{
    border-radius: 30px;
    border-color: $primary-color;
    background-color: $primary-color;
    font-size: 12px;
    color: white;
    font-family: $font1;
    margin-right: 32px;
    border-style: solid;
    height: 35px;
    width: 120px;

}
.pageTitle{
    @include title-style1;
    color: $primary-color;
    margin-left: 48px;
    
}

//LOGIN
.loginContainer__main{
    border-width: 5px;
    border-color: $primary-color;
    border-style: solid;
    border-radius: 30px;
    width: 30%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    flex-direction: column;
    background-color: $primary-color;
}

.opacityAnim{
    animation-name: welcome;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.opacityInverseAnim{
    animation-name: login;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    opacity: 100;
}

@keyframes welcome {
    100%{
        opacity: 100;
    }
}

@keyframes login {
    100%{
        opacity: 0;
    }
}

.loginContainerTitle{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer{
    background-color: $primary-color;
    padding: 20px;
    border-radius: 30px;
}

.line-decoration{
    margin-top: 25px;
    width: 0;
    height: 1px;
    background-color: $secondary-color;
    animation-name: lineAnim;
    animation-duration: 1s;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    
}

@keyframes lineAnim{
    100%{
        width: 65%
    }
}
.titulo__loginContainer{
    text-align: center;
    @include title-style1; 
}

.loginForm label, .loginButton{
    font-family: $font1;
    color: $secondary-color;
}

.loginForm input{
    background-color: $secondary-color;
    border-width: 1px;
    border-color: $primary-color;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    width: 100%
}

.loginButton{
    background-color: transparent;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: bold;
    border-style: solid;
    border-color: $secondary-color;
    border-radius: 30px;
    margin-bottom: 30px;
}
.loginButton:hover{
    color: $primary-color;
    background-color: $secondary-color;
    cursor: pointer;
}

.errorContainer{
    width: 80%;
    text-align: center;
    color: red;
}

//CONTACTOS
#tablaContactos{
    margin: 20px auto;
    width: 95%;
    border-width: 2px;
    border-color: $primary-color;
    border-style: solid;
    display: grid;
    background-color: $primary-color;
    grid-template-columns: 20px 1.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.3fr;
    grid-gap: 1px;
}
#tablaContactos > div {
    background-color: $secondary-color;
    font-family: $font1;
    
}

.checkColumn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkInput{
    margin: auto;
}

.columnTitle{
    font-weight: 600;
    text-align: center;

}

.contactColumn, .contactData{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contactImg{
    width: 20%
}
.contactData{
    flex-direction: column;
    width: 60%;
}
.subtitle{
    word-wrap: break-word;
    font-size: 10px;
    color: $terciary-color;
}

.textColumn{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canalContainer{
    opacity: 70%;
    padding: 3px;
    color: white;
}

.canalName{
    background-color: $primary-color;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.interesColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.interesFatherDiv{
    display: flex;
    justify-content: center;
    width: 100%
}

.interesBar{
    width: 70%;
    height: 20px;
    margin-left: 6px;
    border-radius: 30px;
}

.interesBkg{
    width: 100%;
    height: 20px;
    background-color: green;
    border-radius: 30px;
}

.actionsColumn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editButton, .deleteButton{
    width: 30%;
}
.actionsColumn img{
    width: 100%;
}

@media screen and (max-width: 800px){
    .loginContainer__main{
        width: 50%
    }
}
