
#tablaUsuarios{
    margin: 20px auto;
    width: 95%;
    border-width: 2px;
    border-color: $terciary-color;
    border-style: solid;
    display: grid;
    background-color: $terciary-color;
    grid-template-columns: 0.4fr 0.4fr 0.7fr 0.1fr 0.1fr ;
    grid-gap: 1px;
}

#tablaUsuarios > div {
    background-color: $secondary-color;
    font-family: $font1;
}

.userColumn, .userEmailColumn, .perfilColumn, .adminColumn{
    padding: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.adminColumn img{
    width: 40px;
}

#userFormFix, #userFormFixEdit{
    justify-content: space-around;
    width: 100%;
}

