* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #ffffff;
}

a:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #221c6d;
  position: fixed;
}

.logo__header {
  padding: 5px;
  padding-left: 3%;
}

.logoImg {
  width: 90%;
}

.titleImg {
  margin-right: 30px;
}

.menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.option__menuHeader {
  margin-right: 40px;
  color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

.option__menuHeader:hover {
  color: aqua;
}

@media screen and (max-width: 420px) {
  .titleImg {
    width: 50%;
  }
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
}

.pageTitleContainer {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonContainer {
  border-radius: 30px;
  border-color: #221c6d;
  background-color: #ffffff;
  color: #221c6d;
  font-size: 12px;
  font-weight: 700;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-right: 32px;
  border-style: solid;
  height: 35px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonContainer:hover {
  background-color: #221c6d;
  color: #ffffff;
  cursor: pointer;
}

.pageTitle {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ffffff;
  font-weight: 600;
  color: #221c6d;
  margin-left: 48px;
}

.messageContainer {
  color: #11ca11;
  width: 100%;
  text-align: center;
  height: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.opacityNull {
  opacity: 0;
}

.popUpBkg {
  background-color: #221c6d;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  opacity: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.validationContainer {
  opacity: 100%;
  background-color: #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 30px;
  border-style: solid;
  border-color: #221c6d;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputImageContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contactTitleContainer {
  padding: 25px;
  background-color: #221c6d;
  justify-self: flex-start;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closeButton {
  background-color: #221c6d;
  border-style: solid;
  border-color: #221c6d;
  width: 20px;
  height: 20px;
}

.closeButton:hover {
  cursor: pointer;
}

.closeButton img {
  width: 10px;
  height: 10px;
}

.newContactTitle {
  text-align: left;
  color: #ffffff;
}

.loginContainer__main {
  border-width: 5px;
  border-color: #221c6d;
  border-style: solid;
  border-radius: 30px;
  width: 30%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #221c6d;
  margin-top: 60px;
}

.opacityAnim {
  -webkit-animation-name: welcome;
          animation-name: welcome;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.opacityInverseAnim {
  -webkit-animation-name: login;
          animation-name: login;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 100;
}

@-webkit-keyframes welcome {
  100% {
    opacity: 100;
  }
}

@keyframes welcome {
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes login {
  100% {
    opacity: 0;
  }
}

@keyframes login {
  100% {
    opacity: 0;
  }
}

.loginContainerTitle {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginContainer {
  background-color: #221c6d;
  padding: 20px;
  border-radius: 30px;
}

.line-decoration {
  margin-top: 25px;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  -webkit-animation-name: lineAnim;
          animation-name: lineAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes lineAnim {
  100% {
    width: 65%;
  }
}

@keyframes lineAnim {
  100% {
    width: 65%;
  }
}

.titulo__loginContainer {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.loginForm label, .loginButton {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ffffff;
}

.loginForm input {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #221c6d;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.loginButton {
  background-color: transparent;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bold;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 30px;
  margin-bottom: 30px;
}

.loginButton:hover {
  color: #221c6d;
  background-color: #ffffff;
  cursor: pointer;
}

.errorContainer {
  width: 80%;
  text-align: center;
  color: red;
}

#tablaContactos {
  margin: 20px auto;
  width: 95%;
  border-width: 2px;
  border-color: #97979791;
  border-style: solid;
  display: -ms-grid;
  display: grid;
  background-color: #97979791;
  -ms-grid-columns: 20px 1.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.3fr;
      grid-template-columns: 20px 1.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.3fr;
  grid-gap: 1px;
}

#tablaContactos > div {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#deleteValidation, #deleteSelectionValidation, .deleteValidation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 200px;
  text-align: center;
}

.checkColumn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkInput {
  margin: auto;
}

.columnTitle {
  font-weight: 600;
  text-align: center;
}

.contactColumn, .contactData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactImg {
  width: 63px;
  border-radius: 50%;
  height: 70px;
}

.contactData {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.subtitle {
  word-wrap: break-word;
  font-size: 10px;
  color: #97979791;
}

.textColumn {
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.canalContainer {
  opacity: 70%;
  padding: 3px;
  color: white;
}

.canalName {
  background-color: #221c6d;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.interesColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.interesFatherDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.interesBar {
  width: 70%;
  height: 20px;
  margin-left: 6px;
  border-radius: 30px;
}

.interesBkg100 {
  width: 100%;
  height: 20px;
  background-color: #15ff00;
  border-radius: 30px;
}

.interesBkg75 {
  width: 75%;
  height: 20px;
  background-color: #a6ff00;
  border-radius: 30px;
}

.interesBkg50 {
  width: 50%;
  height: 20px;
  background-color: #ffe600;
  border-radius: 30px;
}

.interesBkg25 {
  width: 25%;
  height: 20px;
  background-color: #ff9100;
  border-radius: 30px;
}

.interesBkg0 {
  width: 5%;
  height: 20px;
  background-color: red;
  border-radius: 30px;
}

.actionsColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editButton, .deleteButton {
  width: 30%;
}

.actionsColumn img {
  width: 100%;
}

.contactColumn {
  height: 90px;
}

.searchInputContainer {
  border-radius: 30px;
  border-color: #221c6d;
  border-style: solid;
  border-width: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
}

.searchInputContainer input {
  border: none;
}

#searchButton {
  background-color: transparent;
  border: none;
}

#searchButton img {
  width: 20px;
  margin: 2px 2px;
}

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#deleteSelectionButton {
  background-color: #221c6d;
  border-color: #221c6d;
  color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0 20px;
  padding: 2px 6px;
  border-radius: 30px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#deleteSelectionButton:hover {
  cursor: pointer;
}

.deleteSelectionImg {
  width: 25px;
  height: 25px;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .loginContainer__main {
    width: 50%;
  }
}

#tablaUsuarios {
  margin: 20px auto;
  width: 95%;
  border-width: 2px;
  border-color: #97979791;
  border-style: solid;
  display: -ms-grid;
  display: grid;
  background-color: #97979791;
  -ms-grid-columns: 0.4fr 0.4fr 0.7fr 0.1fr 0.1fr;
      grid-template-columns: 0.4fr 0.4fr 0.7fr 0.1fr 0.1fr;
  grid-gap: 1px;
}

#tablaUsuarios > div {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.userColumn, .userEmailColumn, .perfilColumn, .adminColumn {
  padding: 20px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminColumn img {
  width: 40px;
}

#userFormFix, #userFormFixEdit {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#tablaCompanias {
  margin: 20px auto;
  width: 95%;
  border-width: 2px;
  border-color: #97979791;
  border-style: solid;
  display: -ms-grid;
  display: grid;
  background-color: #97979791;
  -ms-grid-columns: 0.4fr 0.4fr 0.7fr 0.1fr 0.1fr;
      grid-template-columns: 0.4fr 0.4fr 0.7fr 0.1fr 0.1fr;
  grid-gap: 1px;
}

#tablaCompanias > div {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.companyNameColumn, .companyEmailColumn, .companyLocationColumn, .companyTelColumn {
  padding: 20px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#postValidation.companyForm1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contentFather {
  width: 100%;
}

.tablaRegiones, .tablaPaises, .tablaCiudades {
  margin: 15px auto;
  width: 95%;
  border-width: 2px;
  border-color: #97979791;
  border-style: solid;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
}

#postValidationRegion, #postValidationPais, #postValidationCiudad,
#editValidationRegion, #editValidationPais, #editValidationCiudad {
  width: 80%;
}

.tablaRegiones > div {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.optionButton {
  width: auto;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regionRow, .paisRow, .ciudadRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.regionRow {
  font-size: 20px;
}

.paisRow {
  margin: 5px;
  font-size: 18px;
}

.ciudadRow {
  background-color: #ffffff;
}

.imgButton {
  width: 20px;
}

.locationName, .buttonsContainer {
  margin: 15px;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.nameLocation, .nameLocation input {
  text-align: center;
}

.nameLocation label {
  font-size: 18px;
}

.nameLocation {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#postValidation, #editValidation {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 100vh;
}

.newContactForm, .editContactForm {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newContactForm > input, .newContactForm select {
  height: 20px;
}

.newContactImageContainer, .editContactImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newContactImageContainer > div,
.editContactImageContainer > div {
  font-size: 12px;
}

.newContactImg, .editContactImg {
  width: 60%;
  border-radius: 50%;
}

#inputImagen {
  font-size: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px;
  width: 20%;
  font-size: 13px;
}

.firstFormFather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-color: #221c6d;
  padding: 16px;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40%;
}

.secondForm {
  width: 100%;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newCanalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channelButton {
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newContactButton, .putContactButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 16px;
  width: 170px;
  height: 40px;
  padding: 8px;
}

.endValidationContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.errorContainer {
  text-align: left;
  color: red;
  font-size: 16px;
}

.canalsAndButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allCanalContainer, .allCanalContainerEdit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */