@import "./sass/mixins";
@import "./sass/variables";

*{
    @include format-document;
}

body{
    background-color: $secondary-color;
}

a:hover{
    cursor:pointer
}

@import "./sass/header";
@import "./sass/general";
@import "./sass/login";
@import "./sass/index";
@import "./sass/usuarios";
@import "./sass/companias";
@import "./sass/regiones";
@import "./sass/postContacto";
